// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$plana-green: #7DC7BE;
$light-blue: #8EC9FF;
$purple: #9B9BFF;
$salmon: #FF9987;
$fleshy-green: #B3E989;
$rich-yellow: #FFDA73;
$pink: #E88CE8;
$brown: #BFA470;
$antique-rose: #C77D7D;
$blue: #5E749E;
$dark-grey: #2E2E2E;
$background: #f5f5f5;
$suva-grey: #8a8a8a;
$grey-swan: #b2b2b2;
$silver: #C4C4C4;
$grey-gainsboro: #d8d8d8;













