 <div class="navbar">
   <!-- nav bar -->
    <%= image_tag "squares.png", alt: "3 square icon", class: 'squares-icon' %>
    <%= image_tag "drop-nav.png", alt: "3 square icon", class: 'teardrop-icon' %>
    <%= image_tag "dropdown.png", alt: "3 square icon", class: 'squares-icon' %>
</div>
