<!-- <h1>Pages#home</h1> -->
<!-- <p>Find me in app/views/pages/home.html.erb</p> -->

<!-- tracking of current challenge + daily recommendations & tips  -->
<!-- this is the dashboard that displays the current challenge with its info  -->
<div class="home-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'forest-background.jpg' %>);">
  <div class='set'>
    <header id="home">plana</header>
  </div>

  <div class="login-buttons">
    <p class="plana-btn-green">SIGN UP</p>
    <p class="plana-btn-grey">LOGIN</p>
  </div>
</div>

