<!-- <h1>Pages#home</h1> -->
<!-- <p>Find me in app/views/pages/home.html.erb</p> -->

<!-- tracking of current challenge + daily recommendations & tips  -->
<!-- this is the dashboard that displays the current challenge with its info  -->
<div class="home-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'forest-background.jpg' %>);">
  <div class='set'>
    <header id="home">plana</header>
  </div>

  <div class="login-buttons">
    <p><%= link_to "SIGN UP", welcome_path, class: "plana-btn-green" %></p>
    <% if user_signed_in? %>
      <%= link_to "LOGIN", dashboard_path, class: "plana-btn-log-grey" %>
    <% else %>
      <%= link_to "LOGIN", new_user_session_path, class: "plana-btn-log-grey" %>
    <% end %>
  </div>
</div>

