<!-- <h1>Pages#home</h1> -->
<!-- <p>Find me in app/views/pages/home.html.erb</p> -->

<!-- tracking of current challenge + daily recommendations & tips  -->
<!-- this is the dashboard that displays the current challenge with its info  -->
