<div class="container-intro">

  <p style="font-weight: 600; font-size: 26px;">Hi, <%= current_user.first_name %> </p>


  <p id="text-intro">Answer a few questions to create an initial estimate of your carbon foorprint.</p>

    <%= link_to questionnaire_path do %>
    <p class= "plana-btn-green">CONTINUE</p>
    <% end %>
</div>

