<div class="container-answer">
  <h5 style="font-weight: normal; margin: 20px;">How would you describe your diet?</h5>
  <div class="container-answer">
    <p class="answer-choice">OMNIVORE</p>
    <p class="answer">LITTLE MEAT</p>
    <p class="answer">PESCHETERIAN</p>
    <p class="answer">VEGETERIAN</p>
  </div>
</div>
