<!-- list of all users with their info (User.all)  -->
<%= render 'shared/navbar' %>
<div class="container-ranking">
  <div class="top-ranking">
    <img src="/assets/forest-background.jpg" class="small-avatar" alt="avatar">
    <img src="/assets/Vector.png" class="vector-ranking" alt="plus">
  </div>
  <div class="ranking-card"><p>FRIENDS</p></div>
  <div class="ranking-card-green"><p>WORLD</p></div>
  <div class="challanges-card">
    <div class="challenge-avatar">
      <img class="point-avatar" src="/assets/apple.png" alt="avatar">
    </div>
    <div class="card-info" >
      <span> <%= current_user.first_name %><% current_user.last_name %> </span>
        <div class="icons">
          <img class="point-icon" src="/assets/drop.png" alt="icon">
          <p>1</p>
          <img class="point-icon" src="/assets/schedule.png" alt="icon">
          <p>10</p style="margin-right: 20px;">
          <img class="point-icon" src="/assets/calculator.png" alt="icon">
          <p>50</p style="margin-right: 20px;">
      </div>
    </div>
    <div class="card-points">
      <div>50</div>
    </div>
  </div>
</div>
