<h1>Footprints#show</h1>
<p>Find me in app/views/footprints/show.html.erb</p>

<!-- show current user carbon footprint results divided by mobility-food-household-->
<!-- + button to lower your impact through a challenge -->

<h4>YOUR CARBON FOOTPRINT</h4>
<ul>
  <li>mobility: <%=current_user.footprint.mobility %> t</li>
  <li>consumption: <%=current_user.footprint.food %> t</li>
  <li>household: <%=current_user.footprint.household %> t</li>
</ul>
<h5>=> <%= current_user.footprint.mobility + current_user.footprint.food + current_user.footprint.household %> tonnes CO2 per year</h5>




