<!-- show current user carbon footprint results divided by mobility-food-household-->
<!-- + button to lower your impact through a challenge -->

<div class="footprint-container">
    <i class="fas fa-globe-europe fa-3x"></i>
    <h2>Your Carbon Footprint</h2>
</div>

<div class="footprint-grid">
  <div class="footprint-row">
    <div class="footprint-column">
      <i class="fas fa-car fa-2x"></i>
    </div>
    <div class="footprint-column">
      <i class="fas fa-shopping-cart fa-2x"></i>
    </div>
    <div class="footprint-column">
      <i class="fas fa-home fa-2x"></i>
    </div>
  </div>

  <div class="footprint-row">
    <div class="footprint-column">
      <p>2 T</p>
      <p>CO2 / year</p>
    </div>
    <div class="footprint-column">
      <p>2 T</p>
      <p>CO2 / year</p>
    </div>
    <div class="footprint-column">
      <p>2 T</p>
      <p>CO2 / year</p>
    </div>
  </div>

</div>
