.small-avatar {
  position: absolute;
  width: 53px;
  height: 53px;
  left: 37px;
  top: 26px;
  border: 4px solid #7DC7BE;
  box-sizing: border-box;
  border-radius: 32.8571px;
}
.big-avatar {
  position: absolute;
  width: 99px;
  height: 99px;
  left: 138px;
  top: 24px;
  border: 2.82857px solid #7DC7BE;
  box-sizing: border-box;
  border-radius: 70.7143px;
}

.point-avatar {
  width: 45px;
  height: 45px;
  left: 15px;
  top: 250px;
  border-radius: 50px;
}

.point-icon {
  width: 20px;
  height: 20px;
}

.vector-ranking {
  position: absolute;
  left: 81.87%;
  right: 10.13%;
  top: 4.68%;
  bottom: 91.63%;
  color: #D8D8D8;
  width: 30px;
  height: 30px;
}
