.small-avatar {
  position: absolute;
  width: 53px;
  height: 53px;
  left: 37px;
  top: 26px;
  border: 4px solid #7DC7BE;
  box-sizing: border-box;
  border-radius: 32.8571px;
}
.big-avatar {
  position: absolute;
  width: 99px;
  height: 99px;
  left: 138px;
  top: 24px;
  border: 2.82857px solid #7DC7BE;
  box-sizing: border-box;
  border-radius: 70.7143px;
}

.point-avatar {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 45px;
  top: 338px;
  border-radius: 50px;
}

.profile-avatar {
  width: 99px;
  height: 99px;
  border: 2.82857px solid #7DC7BE;
  box-sizing: border-box;
  border-radius: 70.7143px;
}

