.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;

  h1 {
    margin: 0;
    font-family: 'Poppins';
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 58px;
    font-weight: 500;
    width: 80%;
    margin-bottom: 30px;
    margin-top: 60px;
  }

   p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .plana-btn-green-sq {
    text-decoration: none;
    height: 56px;
    width: 270px;
    border-radius: 15px;
    background: #7DC7BE;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #FFFFFF;
    line-height: 60px;
    border: 0px;
    padding: 0;
    margin: 20px auto;
    display: inline-block;
    font-weight: 600;
    transition: 0.3s;
  }

  .plana-btn-green-sq:hover {
    text-decoration: none;
    color: white;
    background: #48928A;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  }

  .choose-plana {
    width: 280px;
    height: auto;
  }

  .step-0-img {
    width: 35%;
    height: 100%;
  }

  .mid-size {
    width: 50%;
  }

  .intro-text {
    width: 50%;

    h2 {
      color: white;
      font-size: 34px;
      margin-bottom: 40px;
      width: 70%;
    }

    p {
      font-size: 20px;
      color: #D2D2D2;
      font-weight: 500;
      line-height: 40px;
    }
  }
}

