.plana-btn {
  height: 56px;
  width: 279px;
  border-radius: 50px;
  background: #7DC7BE;
  color: white;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.12em;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  line-height: 50px;
  text-align: center;
}
