.plana-btn-green {
  height: 56px;
  width: 270px;
  border-radius: 50px;
  background: #7DC7BE;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.12em;
  color: #FFFFFF;
  line-height: 50px;
  border: 0px;
  margin: 20px auto;
}

.plana-btn-grey {
  height: 56px;
  width: 270px;
  border-radius: 50px;
  background: rgba(168, 168, 168, 0.9);
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 50px;
  letter-spacing: 0.12em;
  margin: 20px auto;
  padding: 0;
  display: inline-block;

}

.search-btn {
  width: 95%;
  height: 40px;
  background: #FFFFFF;
  border-style: none !important;
  border-radius: 50px;
  margin: 10px;
  color: #D8D8D8 !important;
}
