.plana-btn-green {
  text-decoration: none;
  height: 56px;
  width: 270px;
  border-radius: 50px;
  background: #7DC7BE;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.12em;
  color: #FFFFFF;
  line-height: 60px;
  border: 0px;
  padding: 0;
  margin: 20px auto;
  display: inline-block;
  font-weight: 500;
}

.plana-btn-green:hover {
  text-decoration: none;
  color: white;
  background: #8ACCC4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.search-btn-items {
  border-radius: 50%;
  background-color: $background;
  text-align: center;
  font-size: 26px;
  border: none;
  display: inline-block;
  text-decoration: none;
}

.plana-btn-grey-thin {
  text-decoration: none;
  height: 56px;
  width: 270px;
  border-radius: 50px;
  background: rgba(168, 168, 168, 0.9);
  color: white;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.12em;
  line-height: 60px;
  border: 0px;
  padding: 0;
  margin: 20px auto;
  display: inline-block;
  font-weight: 500;

}

.plana-btn-grey-thin:hover {
  text-decoration: none;
  color: white;
  background: rgba(168, 168, 168, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.plana-btn-log-grey {
  height: 56px;
  width: 270px;
  border-radius: 50px;
  background: rgba(168, 168, 168, 0.9);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.12em;
  color: #FFFFFF;
  line-height: 60px;
  border: 0px;
  padding: 0;
  margin: 20px auto;
  display: inline-block;
  text-decoration: none;
}

.plana-btn-grey {
  width: 55px;
  height: 45%;
  padding-top: 2px;
  border-radius: 35px;
  border: 3px solid #7DC7BE;
  text-align: center;
  font-size: 18px;
  margin: 10px;
  display: inline-block;
  text-decoration: none;
}

.plana-btn-dark {
  width: 55px;
  height: 45%;
  padding-top: 2px;
  border-radius: 35px;
  background-color: #7DC7BE;
  color: white;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  margin: 10px;
  display: inline-block;
  text-decoration: none;
}

.plana-btn-white {
  height: 56px;
  width: 270px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.9);
  color: #7DC7BE;
  text-align: center;
  font-size: 18px;
  line-height: 60px;
  padding: 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
}


.search-btn {
  width: 95%;
  height: 40px;
  background: #FFFFFF;
  border-style: none !important;
  border-radius: 50px;
  margin: 10px;
  color: #D8D8D8 !important;
}

.btn-intro {
  height: 56px;
  width: 270px;
  border-radius: 50px;
  text-decoration: none;
}


.follow-button {
  text-transform: uppercase;
  border-color: #7DC7BE;
  color: #7DC7BE;
  width: 100%;
  font-size: 12px;
  border-radius: 22px;
  &:visited, &:focus, &:hover {
    border-color: #7DC7BE;
    background-color: #7DC7BE;

    color: white;
  }
}

.unfollow-button {
  text-transform: uppercase;
  border-color: #7DC7BE;
  background-color: #7DC7BE;
  color: white;
  width: 100%;
  border-radius: 22px;
  font-size: 12px;
  &:focus, &:hover {
    border-color: #7DC7BE;
    background-color: white;
    color: #7DC7BE;
  }
}

.plana-btn-green-pick {
  height: 56px;
  width: 270px;
  border-radius: 50px;
  background: #7DC7BE;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.12em;
  color: white;
  line-height: 60px;
  border: 0px;
  padding: 0;
  margin: 20px auto;
  display: inline-block;
  text-decoration: none;
}
