.category-container{
  overflow: scroll;
}
.tip-container {
  margin: 10px;
  color: #575757;

  .log-box {
  margin: 0 auto;
  display: flex;
  }
}

.discover-container {
   // background-size: cover;
    color: white;
    padding: 350px 0;
    background-position: center;
    text-align: center;
    .set {
      text-align: center;
      font-size: 24px;
    }
}

.home-container {
  color: white;
  padding: 150px 0;
  background-position: center;
  text-align: center;
  .set {
    text-align: center;
    font-size: 24px;
    margin-bottom: 300px;
  }
  #home {
    font-size: 55px;
  }
}

.container-answer {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 100px 20px;
}

.container-welcome {
  position: absolute;
  width: 233px;
  height: 180px;
  left: 71px;
  top: 316px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.container-intro {
  position: absolute;
  width: 233px;
  height: 10px;
  top: 100px;
  left: 71px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}


.category-index-container {
  .index-header{
    color: #575757;
    font-size: 36px;
    font-weight: 700;
    padding-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

