.main-container {
  // PUT THIS CONTAINER UNDERNEATH THE NAVBAR IN EVERY PAGE THAT HAS A NAV BAR
  margin-bottom: 80px;
  max-height: 100vh;
  overflow: scroll;
}

.kaminari-container {
  .row-card {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
  }
  .column-card {

  }
}
.category-container{
  overflow: scroll;
  margin-top: 20px
}

.log-box {
  margin-bottom: 50px;
  display: flex;
}


.discover-container {
    color: white;
    padding: 350px 0;
    max-height: 100vh;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)), asset-url('bladesofgrass.jpg');
    background-size: cover;
    .set {
      text-align: center;
      font-size: 24px;
    }
}

.home-container {
  color: white;
  padding: 130px 0;
  background-position: center;
  text-align: center;
  .set {
    text-align: center;
    font-size: 24px;
    margin-bottom: 400px;
  }
  #home {
    font-size: 55px;
  }
  .login-buttons {
    margin-top: 50px;
    .plana-btn-grey {
      margin: 0 !important;
    }
    .plana-btn-green {
      margin: 0 !important;
    }
  }
}

.contain-questionaire {
  text-align: center;
  max-width: 600px;
  margin: 30px auto;
  .container-question {
    padding-top: 110px;
    .question {
      margin: 20px;
      font-size: 24px;
      font-family: Poppins;
      color: #7DC7BE;
      font-weight: 500;
    }
  }
  .container-answer {
    padding-top: 30px;
  }
}

.container-welcome {
  width: 80%;
  height: 180px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  margin: 250px auto;
  .welcome-button-div {
    margin-top: 150px;
  }
}

.container-intro {
  width: 80%;
  height: 180px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #575757;
  margin-top: 300px;
  margin: 250px auto;
}

.ranking-header-bold {
  color: #575757;
  font-size: 36px;
  font-weight: 700;
  padding-left: 30px;
  padding-bottom: 10px;
}


.category-index-container {
  .index-header{
    color: #575757;
    font-size: 36px;
    font-weight: 700;
    padding-left: 30px;
    padding-bottom: 10px;
  }
}


// Dashboard Container
.dashboard-challenge-container {
  display: flex;
  justify-content: center;
}

.challenge-grid-container {
  margin: 10px;
  color: #575757;
}
// Profile Container //

.profile-header {
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.05);
  text-align: center;
  padding: 15px;
  .fa-edit {
    color: #C4C4C4;
  }
  .logout {
    font-size: 16px;
    color: #8a8a8a;
  }
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  .profile-cards {
    margin-right: 5px;
    margin-left: 5px;
    .number {
      font-size: 18px;
      font-weight: 700;
      color: #575757;
      margin-bottom: 0 !important;
    }
    .descriptions {
      color: $suva-grey;
      font-size: 12px;
    }
  }
}

.saved-container {
  margin: 25px;
  h3 {
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 700;
    color: $suva-grey;
  }
  .saved-list-items {
    background-color: white;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 5px;
    .saved-rows {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    .last-saved-rows {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
    }
    .saved-column {
      width: 15%;
      padding-right: 15px;
      padding-left: 10px;
    }
    .saved-column2 {
      padding-right: 15px;
      padding-left: 10px;
      width: 65%;
      text-align: left;
      font-size: 18px;
    }
    .saved-column3 {
      color: $suva-grey;
      padding-right: 15px;
      padding-left: 10px;
      width: 20%;
      text-align: center;
      font-weight: 700;
    }
  }
}

.container-ranking {
  .icons {
    display: flex;
    margin-top:5px;
    font-size: 12px;
      p {
    margin-right: 20px;
    font-weight: normal;
    }
  }
  .top-ranking {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
}

.challenge-progress-container {
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.05);
  color: #D8D8D8;
  height: 150px;
  text-align: center;
  padding: 20px;
  h2 {
    padding-top: 25px;
  }
  p {
    color: $suva-grey;
  }
}

// Carbon Container
.footprint-container {
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.05);
  color: #D8D8D8;
  height: 200px;
  text-align: center;
  padding: 50px;
  h2 {
    padding-top: 35px;
  }
}

.footprint-grid {
  margin: 45px;
  .footprint-row2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
  }
  .footprint-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #575757;
    margin-top: 10px;
    .footprint-column {
      text-align: center;
      .tonnes {
        font-weight: 700;
        font-size: 18px;
        font-family: 'Poppins';
        margin-bottom: 0px;
      }
      .number {
        font-size: 12px;
        margin-top: 0px;
      }
    }
  }
  .total-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footprint-text {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    .pick {
      margin-top: 60px;
      color: white !important;
      text-decoration: none;
    }
  }
}

.container-sign-in {
  float: none;
  text-align : center;
}

.search-bar-container {
  display: flex;
  margin-left: 10px;
  color: #8A8A8A;
  .search-bar {
    width: 88%;
    color: #8A8A8A;
  }
  .magnifying-glass {
    margin-top: 20px;
  }
  .search-bar-buttn {
    border: none;
    background-color: #E5E5E5;
    padding: 0;
    color: #8A8A8A;
  }
}

.step-text {
  width: 50%;

  .steps-icon {
    width: 127px;
    height: 47px;
  }

  h2 {
    color: #2E2E2E;
    font-size: 34px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
  }

  p {
    font-size: 20px;
    color: #6D6D6D;
    font-weight: 500;
    line-height: 40px;
  }
}

.steps-img {
    width: 35%;
    height: 100%;
}


