.heart-icon {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  color:#7DC7BE;
}

.sprout-icon {
  height: 25px;
  text-align: right;
  margin: 0px;
}

.teardrop-icon {
  width: 50px;
  height: 50px;
  background: #7DC7BE;
  border-radius: 50%;
}

.squares-icon {
  width: 27px;
  height: 27px;
  color: #D8D8D8;
}

.challenge-icon-grey {
  color: #575757;
}

.challenge-icon-white {
  color: white;
}

#image-icon {
  float: right;
}
