#heart-icon {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  color:#7DC7BE;
  width: 100%;
}

.sprout-icon {
  height: 30px;
  text-align: right;
  margin: 10px;
}

.challenge-icons-img {
  width: 300px;
  height: 70px;
  text-align: center;
}

.progress-icon {
  font-size: 26px;
  color: #D8D8D8;
  float: right;
}

.teardrop-icon {
  width: 50px;
  height: 50px;
  background: #7DC7BE;
  border-radius: 50%;
}

.squares-icon {
  width: 27px;
  height: 27px;
  color: #D8D8D8;
}

.challenge-icon-grey {
  color: #575757;
}

.challenge-icon-white {
  color: white;
}

.image-icon {
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  align-content:flex-end;
}

.profile-icon {
  border-radius: 10px;
  width: 90px;
  height: 55px;
}

.saved-icon {
  width: 35px;
  height: 35px;
}
