.navbar2 {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #F5F5F5;
  margin-top: 50px;
  z-index: 500;
  padding: 22px;
  padding-bottom: 20px;
}
