<!-- list of all categories ( Category.all ) + 2 card for tools that redirect to their route -->
<%= render 'shared/navbar' %>
<div class='category-index-container'>
  <div class='index-header'>
    Tools
  </div>

  <div class="index-cards">
    <div class="challenge-card">
      Measure my travel
    </div>

    <div class="challenge-card">
      Measure my meal
    </div>
  </div>

</div>
